# GitIgnore Sources - https://github.com/github/gitignore

# Textmate
*.tmproj
*.tmproject
tmtags

# VIM
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Intellij
*.iml
*.ipr
*.iws
.idea/

# Linux
.*
!.gitignore
*~

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
