html {
  background: #000000 url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow:none;
}
h3 {
  color: #FFF;
}
body {
  padding-top:200px;
  min-height: 100%;
  /*color: #fff;*/
  background: transparent;
  font-family: ubuntu-mono, serif;
}
a:hover{
  text-decoration: none;
}
.well {
  background: rgba(8, 8, 8, 0.40);
  border: 1px solid #060606;
}
.center-text {
  text-align: center;
}
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}
.parsley-error-list{
  color: #B94A48 !important;
}
#myModalLabel {
  color: #282a2e;
}